{% extends 'base.html' %}

{% block body %}
    <h1>{{ object }}</h1>
    {% if form %}
        <h3>Добавить пост</h3>
        <form action="{% url 'add_post' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary">Опубликовать</button>
        </form>
    {% endif %}

    <h2>Лента событий</h2>
    {% for bp in feed %}
        <div>
            <h4>{{ bp }}</h4>
            <small>{{ bp.dt|date }}</small> / <a href="{{ bp.blog.get_absolute_url }}">{{ bp.blog }} </a>
            <p>{{ bp.body }}</p>
            <hr>
        </div>
    {% empty %}
        <div>Лента пуста</div>
    {% endfor %}
{% endblock %}
