{% extends 'base.html' %}

{% block body %}
    <h1>{{ object }}</h1>
    <small>{{ object.dt }}</small> / <a href="{{ object.blog.get_absolute_url }}">{{ object.blog }}</a>
    <p>{{ object.body }}</p>
{% endblock %}
