{% extends 'base.html' %}
{% load blog %}

{% block body %}
    {% for blog in object_list %}
        <div class="row blog_row">
            {{ forloop.counter }}.
            <a href="{{ blog.get_absolute_url }}">{{ blog }}</a>
            {% render_read_unread_link blog %}
        </div>
    {% endfor %}
{% endblock %}
