{% load staticfiles %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{{ page_title }}</title>
</head>
<body>
    {% include 'header.html' %}

    <div class="container">
    {% block body %}{% endblock %}
    </div>

    {% include 'footer.html' %}
</body>
</html>
