<footer>
    <div class="container">
        <hr>
        <div class="row" style="text-align: center;">
            <p class="text-muted">Система блогов &copy; 2014</p>
        </div>
    </div>
</footer>
