<nav class="navbar navbar-inverse top_menu" role="navigation">
    <div class="container">
        <ul class="nav navbar-nav center-block">
            <li><a href="{% url 'my_blog' %}">Мой блог</a></li>
            <li><a href="{% url 'blog_list' %}">Другие блоги</a></li>
        </ul>
    </div>
</nav>

{% if messages %}
    <div class="container_main container-fluid">
    {% for message in messages %}
        <div class="alert{% if message.tags %} {{ message.tags }}{% endif %}" role="alert">
          {{ message|safe }}
        </div>
    {% endfor %}
{% endif %}
